@model Event
@{
    ViewData["Title"] = "Create New Page";
    var valid = this.Model != null;
    var item = this.Model;
}

@if(valid)
{
    <h3>@item.Title</h3>

    if(item.Start != item.End)
    {
        <div>@item.Start.ToShortDateString() - @item.End.ToShortDateString()</div>
    }
    else
    {
        <div>@item.Start.ToShortDateString()</div>
    }

    <div>@item.CreationTime.ToLongDateString()</div>
    <div>@item.Description</div>

    <div>
        <a asp-controller="News" asp-action="Delete">Löschen</a>
        <a asp-controller="News" asp-action="Edit" asp-route-event="@item.Id">Bearbeiten</a>
    </div>
}
else
{
    <h3>Ungültige Id!</h3>
}
